absl-py==0.7.1
alabaster==0.7.12
altgraph==0.16.1
anaconda-client==1.7.2
anaconda-project==0.8.2
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.7.1
astroid==2.2.5
astropy==3.1.2
astunparse==1.6.3
atomicwrites==1.3.0
attrs==19.1.0
awscli==1.17.7
babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
bitarray==0.8.3
bkcharts==0.2
bleach==3.1.0
boto==2.49.0
botocore==1.14.7
bottleneck==1.2.1
cachetools==4.1.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
click==7.0
cloudpickle==0.8.0
clyent==1.2.2
colorama==0.4.1
comtypes==1.1.7
conda-build==3.17.8
conda-verify==3.1.1
conda==4.6.14
configparser==5.0.1
contextlib2==0.5.5
cryptography==2.6.1
cycler==0.10.0
cython==0.29.6
cytoolz==0.9.0.1
dask==1.1.4
dataclasses==0.6
decorator==4.4.0
defusedxml==0.5.0
distributed==1.26.0
docker-pycreds==0.4.0
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.0.2
ffmpeg==1.4
filelock==3.0.10
flask==1.0.2
future==0.17.1
fvcore==0.1.5.post20210719
gast==0.2.2
gevent==1.4.0
gitdb==4.0.5
gitpython==3.1.11
glob2==0.6
gmpy2==2.0.8
google-auth-oauthlib==0.4.1
google-auth==1.19.2
google-pasta==0.2.0
greenlet==0.4.15
grpcio==1.20.1
h5py==2.9.0
heapdict==1.0.0
html5lib==1.0.1
icrawler==0.6.2
idna==2.8
imagesize==1.1.0
importlib-metadata==0.0.0
imutils==0.5.3
iopath==0.1.9
ipykernel==5.1.0
ipython-genutils==0.2.0
ipython==7.4.0
ipywidgets==7.4.2
isort==4.3.16
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
jeepney==0.4
jinja2==2.10
jmespath==0.9.4
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-console==6.2.0
jupyter-core==4.4.0
jupyter==1.0.0
jupyterlab-server==0.2.0
jupyterlab==0.35.4
keras-applications==1.0.8
keras-preprocessing==1.1.2
keyring==18.0.0
kiwisolver==1.0.1
kpt==0.0.7
lazy-object-proxy==1.3.1
libarchive-c==2.8
lief==0.9.0
llvmlite==0.28.0
locket==0.2.0
lxml==4.3.2
mako==1.0.10
markdown==3.1
markupsafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
mock==3.0.5
more-itertools==6.0.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
navigator-updater==0.2.1
nbconvert==5.4.1
nbformat==4.4.0
netron==4.6.5
networkx==2.2
nltk==3.4
nose==1.3.7
notebook==5.7.8
numba==0.43.1
numexpr==2.6.9
numpy==1.18.5
numpydoc==0.8.0
oauthlib==3.1.0
object-detection==0.1
olefile==0.46
onnx==1.8.0
opencv-contrib-python==4.1.0.25
opencv-python==4.1.0.25
openpyxl==2.6.1
opt-einsum==3.1.0
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.4
partd==0.3.10
path.py==11.5.0
pathlib2==2.3.3
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
pillow==8.0.1
pip==20.0.2
pkginfo==1.5.0.1
pluggy==0.9.0
ply==3.11
portalocker==2.3.0
prometheus-client==0.6.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.6.1
ptyprocess==0.6.0
py==1.8.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycuda==2018.1.1
pycurl==7.43.0.2
pyflakes==2.1.1
pygments==2.3.1
pyinquirer==1.0.3
pyinstaller==3.5
pykinect2==0.1.0
pylibfreenect2==0.1.4.dev0
pylint==2.3.1
pymo==0.0.1
pyodbc==4.0.26
pyopenssl==19.0.0
pyparsing==2.3.1
pyqt5-sip==4.19.19
pyqt5==5.13.1
pyrsistent==0.14.11
pyside2==5.11.1
pysocks==1.6.8
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
pytest==4.3.1
python-dateutil==2.8.0
pytools==2019.1.1
pytorch3d==0.3.0
pyturbojpeg==1.4.1
pytz==2018.9
pywavelets==1.0.2
pyyaml==5.1
pyzmq==18.0.0
qtawesome==0.5.7
qtconsole==4.4.3
qtpy==1.7.0
rawpy==0.13.1
regex==2020.7.14
requests-oauthlib==1.3.0
requests==2.21.0
rope==0.12.0
rsa==3.4.2
ruamel-yaml==0.15.46
s3transfer==0.3.1
scikit-learn==0.20.3
scipy==1.4.1
seaborn==0.9.0
secretstorage==3.1.1
selenium==3.141.0
send2trash==1.5.0
sentry-sdk==0.19.4
setuptools==41.0.1
shapely==1.6.4.post2
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
smmap==3.0.4
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
spyder-kernels==0.4.2
spyder==3.3.3
sqlalchemy==1.3.1
statsmodels==0.9.0
subprocess32==3.5.4
sympy==1.3
tables==3.5.1
tabulate==0.8.9
tb-nightly==1.14.0a20190603
tblib==1.3.2
tensorboard-plugin-wit==1.7.0
tensorboard==1.15.0
tensorboardx==2.1
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.3
tensorflow-hub==0.7.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tf-encrypted==0.5.7
tf-estimator-nightly==1.14.0.dev2019060501
toolz==0.9.0
torch==1.9.0
torchvision==0.10.0
tornado==6.0.2
tqdm==4.31.1
traitlets==4.3.2
typing-extensions==3.7.4.3
unicodecsv==0.14.1
urllib3==1.24.1
wandb==0.10.12
watchdog==0.10.4
wcwidth==0.1.7
webcolors==1.11.1
webencodings==0.5.1
werkzeug==0.14.1
wget==3.2
wheel==0.33.1
widgetsnbextension==3.4.2
wrapt==1.11.1
wurlitzer==1.0.2
xlrd==1.2.0
xlsxwriter==1.1.5
xlwt==1.3.0
yacs==0.1.8
zict==0.1.4
zipp==0.3.3